Nombre: {{ alumno_nombre }}
Apellido: {{ alumno_apellido }}
División: {{ alumno_division }}
Fecha: {{ ansible_date_time.date }}
-------------------------
Distribución: {{ ansible_distribution }}
Cantidad de Cores: {{ ansible_processor_cores }}

